/*Que tant ampli és el recuadre principal*/
.container {
    margin-left: 5vw !important; 
    margin-right: 5vw !important;
    max-width: 80%;
}

/*Colors fons i lletra generica*/
body {
    background-color: #444444;
    color: #E0E0E0;
}

/*Colors tituls*/
h1, h2, h3, p {
    color: #E0E0E0;
}

/*Colors lletra italics*/
em {
    color: #b1b1b1;
}

/*Colors links*/
a {
    color: #209bc4;
}

/*Color hover dels links*/
a:hover {
    color: #010514;
}
/*Color Warning*/
.warning {
    color: #C70039;
}

/**/
.terminal-menu li a:not(.btn){
    color:#209bc4 !important;    
}

code{
    color:#806fd9;
    background-color:#21222c;
}